* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 1fr 0.7fr 8fr 0.7fr;
  text-align: center;
  gap: 5px;
  height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logo {
  text-align: left;
  display: grid;
  align-content: center;
}


.menu ul,
.menu li {
  font-size: 16px;
  align-items: center;
}
.menu{
  grid-column: 2 / 5;
  display:grid;
  grid-template-columns: repeat(5,1fr);
}

.menu ul{
  grid-column: 2 / 6;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  align-content: center;
}

.sidebar {
  background-color: #C50208;
  grid-row: 2 / 5;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(120px, 1fr));
  gap: 30px;
  align-items: stretch;
  justify-items: stretch;

}

.sidebar div{
  display: grid;
  align-items: center;
}


.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  display: grid;
  align-content: center;
  grid-column: 2 / 6;
  grid-row: 2;
}

.nav ul{
  display:grid;
  grid-template-columns: repeat(3,1fr);
}

.nav ul li {
  display:grid;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1rem;
}

.article {
  background-color: #bccbde;
  grid-column: 2/6;
  grid-row: 3/5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: minmax();
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/ span 5;
  grid-row: 5 / span 1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}